.profile {
  margin: 40px auto 0 auto;
  display: grid;
  grid-template-columns: 120px repeat(2, 1fr);
}
@media screen and (max-width: 890px) {
  .profile {
    max-width: 90%;
  }
}
@media screen and (max-width: 650px) {
  .profile {
    max-width: 650px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr) 80px;
  }
}
@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    max-height: 282px;
    grid-template-columns: 282px;
    grid-template-rows: repeat(3, 1fr);
    align-items: end;
  }
}
