.element__vector {
  background: url(../../../images/Like.svg);
  background-color: initial;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  display: grid;
  align-self: center;
  justify-self: center;
  border: none;
  cursor: pointer;
  padding: 0;
}
.element__vector:hover {
  opacity: 60%;
}
