.profile {
  padding: 0;
  padding-top: 40px;
  padding-bottom: 50px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  color: white;
  display: grid;
  grid-template-columns: 120px auto 150px;
  column-gap: 30px;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 700px) {
  .profile {
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 36px;
  }
}
