.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url(../../../images/Add_Button.svg);
  background-color: initial;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  justify-self: end;
  align-self: center;
  padding: 0;
}
.profile__add-button:hover {
  opacity: 0.5;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}
@media screen and (max-width: 890px) {
  .profile__add-button {
    background-size: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 650px) {
  .profile__add-button {
    width: 320px;
    background-image: url(../../../images/Plus.svg);
    border: 2px solid #ffffff;
    background-position: center;
    justify-self: center;
    align-self: auto;
    background-size: auto;
  }
}
@media screen and (max-width: 320px) {
  .profile__add-button {
    width: 282px;
  }
}
