.profile__info {
  display: grid;
  min-width: 336px;
  position: relative;
  align-content: space-evenly;
  margin-left: 22px;
}
@media screen and (max-width: 890px) {
  .profile__info {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 650px) {
  .profile__info {
    max-width: 650px;
    justify-content: space-evenly;
    justify-items: center;
    margin: 0;
  }
}
@media screen and (max-width: 320px) {
  .profile__info {
    min-width: 282px;
    max-height: 54px;
    justify-content: space-evenly;
    justify-items: center;
  }
}
