.popup__field{
    border: none;
    margin-right: auto ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom:  1px solid #5454543a;
    margin-right: 0;
}